.close {
 display: none !important; 
}

.pad-right-8 {
    padding-right: 8px; 
}

/* Colors */
.bg-green {
    background: green;
}

.bg-default {
    background: var(--mainColor);
}

.bg-danger {
    background: red;
}

.bg-black {
   background: black; 
}

.color-black {
   color: black;
}

.color-gray {
    color: gray; 
}

.color-danger {
    color: red;
}

.color-default {
    color: var(--mainColor)
}
/* */

.title-bar {
    padding: 20px 0 20px 20px;
}

.container {
    width: 100%;
    padding: 4px 20px 0 20px;
    box-sizing: border-box;
}

.smallbox {
    padding: 10px;
    color: white;
    border-radius: 2px;
    margin: 0 2px 2px 2px;
    width: 14.83%;
}

.smallbox h1 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.smallbox p {
    margin: 2px 0 2px 0;
    white-space: nowrap;
}

.worldStatsContainer {
    display: flex;
    flex-wrap: wrap;

    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
    justify-content: space-around;
    grid-gap: 10px;*/

}

.divider {
    height: 1px;
    background: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.countriesCnt {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

.country {
    position: relative;
    background: white;
    box-shadow: 0 2px 3px 0 gray;
    /* margin: 0 2px 2px 2px; */

    flex-grow: 1;

    margin: 5px 4px 4px 3px;
    width: 239px;

}

.country-inner {
    padding: 11px;
}

.country-inner h1, h3, h2, h4, h5 , h6 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.country-inner p {
    margin: 2px 0 2px 0;
    white-space: nowrap;
}

.country-footer {
    text-align: center;
}

.country-footer > a {
 width: 100%;
}

.searchCountry {
    padding: 0 15px 15px 0;    
}

table td {
    border-top: 3px solid #f4f4f4;
}

.box {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 2px solid var(--mainColor);

    background: white;
}

.viewCountryCnt {
    width: 75%;
}

.leftTd {
    width: 43%;
}

.rightTd {
    font-weight: bold;
}


.info {
    padding: 2px 5px;
    border: 1px solid #003f63;
    border-radius: 3px;
    background: #3c8dbc;
    color: white;
    //box-shadow: 0 3px 5px black;
    
    //width: 500px;
    z-index: 1000;
    position: absolute;

    transition: ease-in 1s ease-out;
    top: 2px; right: 0; margin: 3px; 
}

.info h3 {
    margin: 3px 0 2px 0;
}

.info-danger {
    background: red;
    border-color: red;
}

.float-right {
   float: right; 
}
